.h-img {
  width: 300px;
	height:auto;
	margin:8px;
  margin-top:0%;
  opacity: 1;
  display: block;
    transition: .5s ease;
      backface-visibility: hidden;

}

.h-container {
	text-align:center;
  margin-top:0%;

}
#home {
  margin-left:12%;
  margin-top:0%;
  background-size: 100%;
}
.row3 {
    background-color: #211212;
    background-size: 100%;
	width:100%;



}
