
#champion {
	display:flex;
	flex-wrap:wrap;
	margin:80px;
	margin-top:30px;
  margin-left:200px;
}
.causta {

  display:flex;
	flex-wrap:wrap;
  background-color: #302b2b;
}
.detalii {
	display:flex;
	flex-wrap:wrap;
  text-align:left;
	margin:0px;
	padding:15px;
	margin-top:10px;
  width: 530px;
  background-color: #302b2b;
  border:#302b2b 2px;


}
.c-name1 {
font-family: verdana;
font-weight: bold;
font-size: 20px;
letter-spacing: 2px;
word-spacing: 2px;
color: #FFCC00;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
-webkit-text-stroke: 1px black;
}
.c-name2 {
font-family: verdana;
font-weight: bold;
font-size: 20px;
letter-spacing: 2px;
word-spacing: 2px;
color: #FFFFFF;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
-webkit-text-stroke: 1px black;
}
.poza {
 text-align:center;
	border: 6px;
  border-style: solid;
  border-style: inset;
  border-color: #2C3E50 ;
	margin:15px;
  background-color: #211212;
  width: 450px;

	align-self: center;

}

.poza .c-img {
  object-position: left;
  width: 254px;


}

}
.tg  {border:none;border-collapse:collapse;border-spacing:0;}
.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
  padding:10px 5px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-jp4g{background-color:#211212;border-color:inherit;color:#ffcc00;font-size:100%;font-weight:bold;text-align:left;
  vertical-align:top}
.tg .tg-22xi{background-color:#211212;border-color:inherit;color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-wbcu{background-color:#211212;border-color:inherit;color:#ffffff;font-family:Verdana, Geneva, sans-serif !important;;
  text-align:left;vertical-align:top}
.tg .tg-hty1{background-color:#211212;border-color:inherit;color:#ffcc00;font-family:Verdana, Geneva, sans-serif !important;;
  font-size:100%;font-style:italic;font-weight:bold;text-align:left;vertical-align:top}

.tg .tg-wn6m{background-color:#211212;color:#ffcc00;font-family:Verdana, Geneva, sans-serif !important;;font-size:100%;
  font-style:italic;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-k090{background-color:#211212;color:#ffffff;font-family:Verdana, Geneva, sans-serif !important;;font-size:100%;
  text-align:left;vertical-align:top}


.outer{
    display: grid;
    grid-template: auto / auto;
}
.content{
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
}
.background{
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    object-fit: cover;
    object-position: 100% 0;

    width: 1465px;
    height: 350px;
}

#poveste-abilitati {
	display:flex;
	flex-wrap:wrap;
	margin:80px;
	margin-top:0px;
  margin-left:50px;
}

.tg  {border-collapse:separate;border-spacing:0;}
.tg td{font-family:Verdana, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{font-family:Verdana, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-mk6l{color:#ffffff;text-align:left;vertical-align:top;font-family:Verdana;}
.tg .tg-hfk9{text-align:left;vertical-align:top;font-family:Verdana;}
.tg .tg-1tss{background-color:#211212;border: 6px;border-style: solid;border-style: inset;border-color: #2C3E50 ;color:#ffcb2f;font-family:Verdana;
  font-size:20px;text-align:center;vertical-align:top}
